import init.lge-shared.rc

on boot
    chown system system /sys/class/input/input3/range
    chown system system /sys/class/input/input3/bandwidth
    chown system system /sys/class/input/input3/mode
    chown system system /sys/class/input/input3/value
    chown system system /sys/class/input/input3/delay
    chown system system /sys/class/input/input3/update
    chown system system /sys/class/input/input3/selftest
    chown system system /sys/class/input/input3/offset_filt_x
    chown system system /sys/class/input/input3/offset_filt_y
    chown system system /sys/class/input/input3/offset_filt_z
    chown system system /sys/class/input/input3/fast_calibration_x
    chown system system /sys/class/input/input3/fast_calibration_y
    chown system system /sys/class/input/input3/fast_calibration_z
    chown system system /sys/class/input/input3/eeprom_writing
    chown system system /sys/class/input/input3/softreset
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0044/enable

on post-fs-data
    ## Sensors daemon stuff
    mkdir /data/misc/sens 2755 system compass

service sensord /system/bin/sensord
    user system
    group compass misc input
    class core
    oneshot

